{% extends 'base.html' %}

{% import 'bootstrap5/form.html' as wtf %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Checkout</h1>

    {% if listImage|length == 0 %}
    <div class="alert alert-info text-center">Your basket is empty.</div>
    {% else %}
    <table class="table table-striped align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>Item</th>
                <th>Unit Price</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in listImage %}
            <tr>

                <td class="text-center">
                    <img src="{{ url_for('static', filename='img/' + item.imageID + item.extension) }}"
                        alt="{{ item.name }}" style="width:70%; height:20vh; object-fit:cover; border-radius:8px">

                    {{ item.name }}
                </td>
                <td>${{ item.price }}</td>
                <td>${{ item.price }}</td>
                <td>
                    <form action="{{ url_for('main.remove_cart_item', imageID = item.imageID) }}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end fs-4 fw-bold mb-3">Total Price: ${{ "%.2f"|format(totalPrice) }}</div>
    <h2 class="text-center mb-4">Payment Information</h2>
    {{ wtf.render_form(formPayment) }}

    <!-- <form>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Full Name" required>
        </div>
        <div class="mb-3">
            <input class="form-control" type="email" placeholder="Email Address" required>
        </div>
        <div class="mb-3">
            <textarea class="form-control" placeholder="Shipping Address" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Delivery Method</label>
            <select class="form-select">
                <option>Standard Delivery</option>
                <option>Express Delivery</option>
                <option>Store Pickup</option>
            </select>
        </div>

        <div class="text-center">
            <button class="btn btn-success btn-lg">Complete Purchase</button>
        </div>
    </form> -->
    {% endif %}
</div>
{% endblock %}