{% extends 'base.html' %}

{% block head %}
<!-- add a big banner to welcome user -->
<div class="p-6 text-white bg-image" 
    style="background-image: url({{url_for('static', filename='img/header.jpg')}}); background-size: cover;">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="display-2"> Explore for {{ item.title }}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<!-- display tours for the specific city -->
<section class="shadow-sm mb-3">

    <div class="text-dark text-center">
        <div>
            <p class="h2 text-dark mb-4">Do you like this item? Please add them to the basket</p>
        </div>
    </div>

<br>

    <div class="row justify-content-center">
        <!-- each tour is a bootstrap card -->
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" 
                    src="{{ url_for('static', filename='img/' + item.imageID + item.extension) }}" 
                    alt="Card image">
                <div class="card-body">
                    <h3 class="card-title text-dark">{{ item.title }}</h3>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text float-end text-end"> 
                        Quantity: <u>{{ item.quantity }}</u>
                        <br>
                        Price: <u>{{ item.currency }} ${{ item.price }}</u>
                    </p>
                </div>
                <div class="card-footer">
                    <form method="POST" 
                        action="{{ url_for('main.checkout') }}">
                        <input 
                            type="submit" 
                            value="Add to Basket" 
                            class="btn btn-primary">
                    </form> 
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
