{% extends 'base.html' %}
{% block main %}
<!-- display image details -->
    <div class="container mt-5">
        <div class="row">
            <nav class="mt-5" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="card p-0 mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/' + item.imageID + item.extension) }}" 
                    alt="Card image" class="img-fluid rounded-start"
                            style="height: 100%; object-fit: cover; object-position: center;">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body p-5 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="card-title mb-0">{{ item.title }}</h4>
                                <p class="card-title mb-0"><small class="text-body-secondary">Last updated: {{ item.updateDate.strftime('%Y-%m-%d') }}</small>
                                </p>
                            </div>
                            <br>
                            <p class="card-text">by {{ username }}</p>
                            <p class="card-text">{{ item.description }}</p>
                            <br />
                            <div class="d-flex">
                                <label class="bg-warning rounded-pill py-2 px-3 d-flex flex-row" style="display: block;"
                                    for="">{{ item.currency }} ${{ item.price }}</label>

                            </div>
                            <div class="mt-3 d-flex justify-content-center justify-content-md-end gap-3">
                                <a class="btn btn-primary" method="POST" 
                        action="{{ url_for('main.checkout') }}">Add to Basket</a>
                                <!-- <button class="btn btn-success">Free download</button> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
