{% extends 'base.html' %}

{% import 'bootstrap5/form.html' as wtf %}

{% block head %}
   <h1 class="display-5 text-center mt-3 mb-3">Manage Photosite</h1>
   <p class="lead text-center">
        These forms are for adding new cities and tours for users to book.
    </p>
{% endblock %}

{% block main %}
    
    <details class="mb-3 shadow-lg rounded">
        <summary class="text-bg-success ps-2 rounded">
            <span class="lead">Add Category</span>
        </summary>
        <div class="row justify-content-center p-3">
            <div class="col-md-6">
                <p>
                    Adds a new Category to the database. 
                    <br>
                </p>
                {{ wtf.render_form(categoryForm) }}
            </div>
        </div>
    </details>

    <details class="mb-3 shadow-lg rounded">
        <summary class="text-bg-success ps-2 rounded">
            <span class="lead">Permission</span>
        </summary>
        <div class="row justify-content-center p-3">
            <div class="col-md-6">
                <p>
                    Adds a new tour to an existing city. 
                    <br>
                </p>
            </div>
        </div>
    </details>
{% endblock %}